
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
    --cor-da-fonte: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    display: flex;
    align-items: center;
    padding: 32px 100px 32px 100px;
    justify-content: space-between;
    background-color: #EDEDED;
}

.cabecalho__logo__titulo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cabecalho__logo {  
    max-width: 80px; /* Ajuste para telas pequenas */
}

.cabecalho__titulo {
    font-size: 1rem;
    text-align: center;
}

.navegacao__lista {
    display: flex;
    gap: 40px;
}

.navegacao__elemento a {
    font-size: 1rem;
}
/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    padding: 32px 100px 32px 100px;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; 
    gap: auto;
}

.apresentacao__conteiner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.apresentacao__foto {
    width: 368px;
    height: auto;
}

.apresentacao__titulo {
    font-size: 3rem;
    font-weight: 751px;
    line-height: 4rem;
}

.apresentacao__subtitulo {
    font-size: 1.3rem;
    font-weight: 300px;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    padding: 64px 100px 64px 100px;
    background-color: #EAF2FD;
}

.sobre-mim__descricao {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sobre-mim__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.sobre-mim__texto {
    font-size: 1rem;
    font-weight: 400;
}

.sobre-mim__assinatura {
    width: 140px;
    height: auto;
}

/*------------------------------ Seção Habilidades e Hobbies ------------------------------*/

.habilidades {
    padding: 32px 100px 88px 100px;
}

.hobbies {
    padding: 88px 100px 88px 100px;
}

.habilidades__cobertura, .hobbies__cobertura {
    background-color: #FBF6E9;
    width: 100%; /*Ocupa 100% da largura disponível */
    height: auto;
    display: flex;
    flex-direction: column;
}

.habilidades__titulo, .hobbies__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
}

.habilidades__lista, .hobbies__lista {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.habilidades__elemento, .hobbies__elemento {
    display: flex;
    width: 176px;
    height: 174px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 8px;
    padding: 94px 136px 16px 16px;
    white-space: nowrap;
}

/*------------------------------ Seção Formação Acadêmica --------------------------------*/

.formacao {
    padding: 82px 100px;
    background-color: #EAF2FD;
}

.formacao__cobertura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.formacao__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.formacao__lista {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.formacao__elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.formacao__icone {
    background-color: #ffffff;
    padding: 78px 88px 78px 88px;
    display: flex;
    max-width: 100%;
}

.formacao__texto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
}

.formacao__nome {
    font-size: 1.375rem;
    font-weight: 700;
}

.formacao__detalhe {
    font-size: 1rem;
    font-weight: 500;
}

/*------------------------------ Seção Experiência Profissional ---------------------------------*/

.projetos {
    padding: 32px 100px;
}

.projetos__cobertura {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.projetos__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.projetos__ilustracao {
    display: flex;
    align-items: center;
    gap: 16px;
}

.projetos__foto {
    width: 732px;
}

.projetos__conteiner {
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projetos__nome {
    font-size: 1.375rem;
    font-weight: 700;
}

.projetos__descricao {
    font-size: 1rem;
    font-weight: 500;
}

.projetos__botao {
    background-color: #2A7AE4;
    width: 116px;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    border: 2px solid #074799;
    border-radius: 3px;
    padding: 10px;
}
    
/*------------------------------ Seção Contato ---------------------------------*/

.contato {
    padding: 64px 100px 64px 100px;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contato__foto {
    width: 506px;
    height: auto;
}

.contato__cobertura {
    width: 1136px;
    height: 660px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.contato__informacoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contato__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.contato__texto {
    font-size: 1rem;
    font-weight: 500;
}

.contato__formulario {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ESTILIZAÇÃO DOS CAMPOS DE PREENCHIMENTO */

.formulario__preenchimento {
    width: 100%;
    padding: 10px;
    color: #000000;
    background-color: #ffffff; /* fundo branco */
    border: 1px solid #FFFFFF;  /* borda branca */
    border-radius: 5px; /* bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
    box-sizing: border-box; 
    transition: border-color 0.3s ease-in-out; /* animação de cor */
    font-size: 1rem;
    font-family: var(--cor-da-fonte);
    font-weight: 400;
    outline: none; /* sem marcação ao redor */
}

.formulario__preenchimento:focus {
    border-color: #000000; /* verde de foco */
    border: 2px solid #2E5077;
}

.formulario__preenchimento--textarea {
    resize: none; /* previne redimensionamento */
    height: 100px;
}

/* BOTÃO */

.formulario__botao {
    width: 165px;
    height: 51px;
    background-color: #2A7AE4;
    border: 2px solid #074799;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario__botao:hover {
    background-color: #1F509A; /* verde mais escuro ao passar o mouse */
}

/*------------------------------ Seção Rodapé ---------------------------------*/

.rodape {
    background-color: #FFFFFF;
    padding: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rodape__texto {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}